.main
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  
}
.main-logo, .logo-text
{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.logo-text
{
  font-size: 28px;
  line-height: 42px;
  padding: 10px 0 30px;
}
.btn
{
  display: flex;
  width: 100%;
  justify-content: center;
}
.put:hover .put-btn,
.open:hover .open-btn
{
  color: red;
}
.put-btn, .open-btn
{
  border: none;
  background-color: white;
}
.big
{
  font-size: 36px;
  margin: 0;
}
.put, .open 
{
  padding: 2%;
}
.normal
{
  font-size: 24px;
  margin: 0;
}